<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="A layout example that shows off a responsive product landing page.">
    <title>食品学院自强社</title>
    
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/pure-min.css" integrity="sha384-" crossorigin="anonymous">
    <link rel="stylesheet" href="https://unpkg.com/purecss@1.0.0/build/grids-responsive-min.css">
    <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <link rel="stylesheet" href="../static/css/layouts/marketing.css">
    <script src="https://cdn.staticfile.org/jquery/1.10.2/jquery.min.js"></script>
</head>
<body>

<script>
function validateForm() {
    var x = document.forms["myForm"]["username"].value;
    var y = document.forms["myForm"]["password"].value;
    if (x == null || x == "") {
        alert("需要输入姓名哟");
        return false;
    }
    if (y == null || y == "") {
        alert("需要输入联系电话哟");
        return false;
    }
}
</script>







<div class="header">
    <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <a class="pure-menu-heading" href="">Shoujibiao</a>

        <ul class="pure-menu-list">
            <li class="pure-menu-item"><a href="" class="pure-menu-link">Home</a></li>
            <li class="pure-menu-item"><a href="#" class="pure-menu-link" id="tour1">Tour</a></li>
            <li class="pure-menu-item"><a class="pure-menu-link" id="longin_di">Sign Up</a></li>
        </ul>
    </div>
</div>

<div id="blue-con" class="splash-container">
    <div class="splash">
        <h1 class="splash-head">食品学院自强社</h1>
        <p class="splash-subhead">
            我们乐于奉献，我们勇于发光，we create a beautiful world.
        </p>
        <p>
            <a id="longin_dibu" class="pure-button pure-button-primary">立即报名</a><!-- href="http://purecss.io"  -->
        </p>
    </div>
</div>

<div class="content-wrapper">
    <div id="act-list" class="content">
        <h2 class="content-head is-center">Excepteur sint occaecat cupidatat.</h2>

        <div class="pure-g">
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">

                <h3 class="content-subhead">
                    <i class="fa fa-rocket"> </i>
                    图书馆志愿活动
                </h3>
                <p>
                    志愿服务时：3h<br>
                    活动内容有整理旧书、新书上架和清洁书架
                </p>
            </div>
                  <!--             <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-mobile"></i>
                    Responsive Layouts
                </h3>
                <p>
                    Phasellus eget enim eu lectus faucibus vestibulum. Suspendisse sodales pellentesque elementum.
                </p>
            </div> -->
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-th-large"></i>
                    标本馆志愿活动
                </h3>
                <p>
                    志愿服务时：2h<br>
                    主要任务是标本装袋和亲自制作标本 

                </p>
            </div>
            <div class="l-box pure-u-1 pure-u-md-1-2 pure-u-lg-1-4">
                <h3 class="content-subhead">
                    <i class="fa fa-check-square-o"></i>
                    爱心家教志愿活动
                </h3>
                <p>
                    志愿服务时：3h<br>
                    可以辅导小朋友做作业，还能和小朋友一起玩哦
                </p>
            </div>
        </div>
    </div>

    <div id="act-one" class="ribbon l-box-lrg pure-g">
        <div class="l-box-lrg is-center pure-u-1 pure-u-md-1-2 pure-u-lg-2-5">
            <img width="300" alt="File Icons" class="pure-img-responsive" src="../static/img/common/file-icons.png">
        </div>
        <div class="pure-u-1 pure-u-md-1-2 pure-u-lg-3-5">

            <h2 class="content-head content-head-ribbon">Love tutor volunteer activities</h2>

            <p>
                Volunteers and children smile. How impressive it is！

            </p>
        </div>
    </div>

    <div class="content">
        <h2 class="content-head is-center">Log in to view more</h2>
        <h3 class="content-subhead is-center" id="actname" >Log in to view more </h3>
        <div class="pure-g">
            <div class="l-box-lrg pure-u-1 pure-u-md-2-5">
                <form class="pure-form pure-form-stacked" action="/acset" method="post" onsubmit="return validateForm()" name="myForm">
                    <fieldset>

                        <label for="email">Your Name</label>
                        <input id="name1" type="text" name="username" placeholder="姓名">

                        <label for="password">Your Telephone</label>
                        <input id="ph1" type="tel" name="password" placeholder="联系电话">

                        <button type="submit" id="queren" class="pure-button">确认报名</button>
                    </fieldset>
                </form>
            </div>

            <div class="l-box-lrg pure-u-1 pure-u-md-3-5">
                <h4>More Information</h4>
                <p>
                    我们将经常组织志愿活动，包括但不止于去图书馆整理图书，去社区为儿童做家教，去敬老院看望老人，欢迎你的加入！
                </p>

                <h4 id="queren1">Contact Us</h4>
                <p>
                    如果你有任何问题，可以添加这个社团工作人员QQ：851505238，我们会回复你的消息的~
                </p>
            </div>
        </div>

    </div>

    <div class="footer l-box is-center">
        To develop more love
    </div>

</div>

<script type="text/javascript">
$(document).ready(function(){
  $("#longin_dibu").click(function scrollToEnd(){//滚动到底部
      // var h = $(document).height()-$(window).height();
      // $(document).scrollTop(h); 
      $('html, body').animate({scrollTop: $(document).height()}, 1400);
});


  $("#longin_di").click(function scrollToEnd(){//滚动到底部
      //$("#blue-con").slideToggle("slow");
      $('html, body').animate({scrollTop: $(document).height()}, 1400);
      // $("#blue-con").css('display','none');
      // $("#act-list").slideUp(1000);
      // $("#act-one").slideUp(1000);
});

  $("#tour1").click(function scrollToEnd(){//滚动到底部
      $('html, body').animate({scrollTop: $(document).height()/4+10}, 1200);
});

});



</script>
<script>
  $(document).ready(function(){
    //$("#actname").load("/act-time");
    $.getJSON("/act-time",function(data){
       var sta = data[0];
       //alert(sta)
       if(sta==1){
        document.getElementById("actname").innerHTML=data[1][2];
       };
       if(sta==0){
        document.getElementById("actname").innerHTML='报名结束';
        //$("#queren").addClass("pure-button-disabled");
        document.getElementById("queren").innerHTML="报名已截止";
        document.getElementById("longin_dibu").innerHTML="报名已截止";
        $("#queren").click(function jeizhi(){
          alert('报名已截止，下次早点来哟');
          //window.opener.document.location.reload();
        });
        //$("#longin_dibu").addClass("pure-button-disabled");
       };
       if(sta==3){
        document.getElementById("actname").innerHTML='名额已满噢';
        document.getElementById("queren").innerHTML="报名结束";
        document.getElementById("longin_dibu").innerHTML="名额已满噢";
       };
    });
});
//document.getElementById("actname").innerHTML="段落已修改。";
</script>


</body>
</html>
