<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
  <a href="problem.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">图书遗失怎么办？</span>
  <img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园:</span>
  <span class="answer">
 <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp图书馆规定，图书遗失需要购买同样图书（同一题名、著者、出版社的图书），还至流通口，再交5元加工费。如果无法买到同样图书，将根据遗失书籍复本量赔原书3-6倍的价格。图书遗失是一件比较麻烦的事，大家在借书期间好好看管自己借的书噢~</p>

</div>

</body>
</html>
