<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
  <a href="problem.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">借书证（校园卡）遗失怎么办理？</span>
  <img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园:</span>
  <span class="answer">
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp校园卡即是借书证，如果遗失借书证（校园卡）应立即到卡务中心自助机器（9栋0层）办理挂失、补办手续，需要携带身份证，同时在‘我的’>‘书证挂失’中进行处理，也可到图书馆流通口办理挂失手续，避免造成盗借等损失。</p>

</div>

</body>
</html>
