<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
  <a href="problem.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"></span><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">什么是索书号？</span>
  <img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园:</span>
  <span class="answer">
  <div class="answers">
    <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp索书号是识别一种图书的唯一标识，由分类号和书次号两部分组成，中间用空格隔开。中文书索书号如：TP312 39，西文书索书号如：TB3 FC16 ,根据索书号可以在图书馆更快捷的找书，如TP312，前湖校区图书馆2楼有些书架上就会标识TP312，在小家园印象中应该是一类关于编程的书。当然这样的找书仍然称不上高效，为此我们仍然在努力。</p>
  </div>

</div>

</body>
</html>
