<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
  <a href="problem.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">图书馆什么时间开放？</span>
  <img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园:</span>
  <span class="answer">
    <p>1.前湖校区中心馆<br>

每天8：00—22：00<br><br>


2.前湖校区医学院馆（医学院学生宿舍9栋架空层）<br>

每天9：00—17：00<br><br>


3.东湖校区馆<br>

上午8：00—12：00，下午14：00—17：30<br><br>


4.青山湖校区馆<br>

上午8：00—12：00，下午14：00—17：30<br><br>
<br>




<strong>说明</strong>：每周五下午三点以后及晚上图书馆闭馆，节假日期间开放时间另行通知 。</p>



</div>

</body>
</html>
