<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
  <a href="problem.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">新生如何通过入馆教育考核？</span>
  <img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园:</span>
  <span class="answer">
  <p>&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp
      在‘我的’>'新生入馆考试'中进入链接，先进行相关材料的阅读；再进行考试。考试合格后，系统自动开通借书权限和通过“我的图书馆”认证。小家园也在想办法祝大家一臂之力，还没过的小伙伴们好运啦~<br>下附链接：<br><a href="http://lib.ncu.edu.cn/module/exam2/"><strong>考试入口</strong></a><br>
    </p>
</div>

</body>
</html>
