<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<style type="text/css">

</style>
<body>
<div class="nav">
</div>
</body>
</html>
