<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/mypage_css.css">
<body>
<div class="navigation_bar">
  <span class="search font">搜索</span>
  <span class="homepage font">首页</span>
  <span class="list font">榜单</span>
</div>
<div class="middle">
  <div class="head_portrait">
    <span class="head_portrait_font"></span>
  </div>
  <span class="name"></span>
  <span class="message">传说中的南昌大学</span>
  <hr class="hr" color="#dadbdb" width="100%" size="1">
  <span class="font1 count_down">倒计时</span>
  <span class="font2 count_down_data"></span>
  <span class="font1 total">总阅</span>
  <span class="font2 total_data"></span>
  <span class="font1 transcend">超越</span>
  <span class="font2 transcend_data"></span>
</div>
<div class="bottom">
  <span class="current_subscriptions">当前订阅</span>
  <span class="font3 book_name ">书名</span>
  <span class="font3 deadtime">最晚还书日期</span>
  <span class="font3 operation">状态</span>
</div>
<div class="final_container">
</div>
<script src="../static/mypage_js.js"></script>
</body>
</html>
