<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<style type="text/css">
  .oimg{
    position: relative;
    width: 10rem;
    height: 13rem;
    top: 3.2rem;
  }
  .iimg{
  	width: 10rem;
  	height: 6.32rem;
  }
</style>
<body>
<div class="nav">
  <a href="homepage.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="homepage.html"><span class="nav_font">我的荐购</span></a>
</div>
<div class="oimg">
  <img class='iimg' src="../img/no_rem.png">
</div>
</body>
</html>
