<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/problem_css.css">
<body>

<div class="nav">
  <a href="homepage.html"><img class="nav_img" src="../img/problem_1.png"></a>
  <a href="homepage.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="block"></div>
<div class="container">
  <a href="answer.html"><p class="font">小家园总结的那些最重要的小事</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer1.html"><p class="font">图书馆什么时间开放？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer2.html"><p class="font">如何进行读者推荐？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer3.html"><p class="font">借书证（校园卡）遗失怎么办理？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer4.html"> <p class="font">图书遗失怎么办？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer5.html"><p class="font">图书超期怎么办？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer6.html"><p class="font">以使用别人的借书证借书吗？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer7.html"><p class="font">新生如何通过入馆教育考核？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer8.html"> <p class="font">可借书的数量和时间有什么限制？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>
<div class="container">
  <a href="answer9.html"><p class="font">什么是索书号？</p></a>
  <img class="img1" src="../img/problem_2.png">
</div>


</body>
</html>
