<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/answer_css.css">
<body>
<div class="nav">
 <a href="problem.html"> <img class="nav_img" src="../img/problem_1.png"></a>
  <a href="problem.html"><span class="nav_font">常见问题</span></a>
</div>
<div class="container">
  <span class="title">小家园总结的那些小事</span></a>
  <a href="problem.html"><img class="img1" src="../img/answer_1.png">
  <span class="logo_font">小家园</span>
  <span class="answer">
      <p></p>1、借书证就是校园卡<br></p>
    <p>2、校本部本科生读者限借8册，借期60天，可续借一次<br></p>
    <p>3、逾期是会罚款的，一本一天一角钱，逾期后无法再对逾期图书进行续借<br></p>
    <p>4、续借需要还书倒计时在30天内，续借后最晚还书时间变为续借操作后的第30天<br></p>
    <p>5、图书要好好保管，丢了是要加倍赔的<br></p>
    <p>6、我不能保证书是人类进步的阶梯，但是不能否认是许多伟大的思想都是这样记录下来的，它不会找你但它就在那里，等着某一天恰巧遇见。可能我们终生寻找生命中的灵魂伴侣，可能永远找不到，也可能ta还未存在过这个星球，我们仰望星空，偶尔收获孤独，就是那种寻觅天际无踪迹的孤独，或许吧，ta不止是个人，也可能是一本书、一首歌曲、一种思想，隐藏在某个角落。或许某天你也会想到，天空的另外一边有那样一群人，一群可能已经故去&nbsp或仍未降临的人，也在四处寻找你的身影，期待聆听你的声音，等待你的降临
  </span>
</div>

</body>
</html>
