<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<meta content="yes" name="apple-mobile-web-app-capable">
<meta content="yes" name="apple-touch-fullscreen">
<meta content="telephone=no,email=no" name="format-detection">
<script type="text/javascript" src="../static/flexible_css.debug.js"></script>
<script type="text/javascript" src="../static/flexible.debug.js"></script>
<link rel="stylesheet" type="text/css" href="../static/loginpage_css.css">
<body>
<div class="container">
  <div class="logo">
    <img class="logo_pic" src="https://wx2.sinaimg.cn/thumb300/006Vorswgy1fqj7ge48mwj30gy0gygpo.jpg"><!--../static/logo_yes.png 或 https://wx2.sinaimg.cn/thumb300/006Vorswgy1fqj7ge48mwj30gy0gygpo.jpg-->
  </div>
  <div class="login_union">
    <div class="username_input">
      <div>
        <span class="username_font font">学号/邮箱</span>
        <input  type="username" class="username">
      </div>
      <hr class="username_hr" size="1" width="130%" color="#dddcdc">
    </div>
    <div class="password_input">
      <div>
        <span class="password_font font">密码</span>
        <input class="password" type="password">
      </div>
      <hr class="password_hr" size="1" width="130%" color="#dddcdc">
    </div>
    <div class="login_button">
      <span class="button_font">登录</span>
    </div>
    <div  class="lose_password_font">
    	<a href="zhuce.html">注册</a>
    </div>
      
    <div class="hidden_area">
      <span class="fontn3">密码错误</span>
      <span class="fontn2">使劲回想一下噢！</span>
      <div class="determine_button">
        <span class="fontn1">确定</span>
      </div>
    </div>
  </div>
</div>

<script type="text/javascript" src="../static/loginpage_js.js"></script>
</body>
</html>
